.payment_card_description {
  border-radius: 8px;
  text-align: left;
  display: flex;
  justify-content: flex-start;
  /* padding: 0 30px; */
  margin-bottom: 30px;
}

.payment_card_description img {
    width: 152px;
    height: 180px;
    object-fit: contain;
    margin-right: 20px;
    border-radius: 8px;
}